@model EmployeeModel
@{
    ViewData["Title"] = "Agregar Empleado";
}

<h1 class="text-center">Agregar Empleado</h1>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly"></div>
            <form asp-action="Create">
                <div class="form-group">
                    <label asp-for="FirstName" class="lable-control"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>

                <div class="form-group mt-3">
                    <label asp-for="ServiceId" class="lable-control"></label>
                    <select class="form-select" asp-for="ServiceId" asp-items="@ViewBag.Services">
                        <option value="">Seleccione</option>
                    </select>
                    <span asp-validation-for="ServiceId" class="text-danger"></span>
                </div>

                <div class="form-group mt-3">
                    <label asp-for="RequestDate" class="lable-control"></label>
                    <input asp-for="RequestDate" class="form-control" />
                    <span asp-validation-for="RequestDate" class="text-danger"></span>
                </div>

                <div class="form-group mt-3">
                    <label asp-for="Status" class="lable-control"></label>
                    <input asp-for="Status" class="form-control" />
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>

                <div class="form-group mt-3">
                    <input type="submit" value="Guardar" class="btn btn-success" />

                    <a asp-action="Index" class="btn btn-primary">Volver al Listado</a>
                </div>
            </form>
        </div>
    </div>
