@model ServiceRequestModel
@{
    ViewData["Title"] = "Editar Solicitud de Servicio";
}

<h1 class="text-center">Editar Solicitud de Servicio </h1>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly"></div>
            <form asp-action="Edit">

                <div class="form-group mt-3">
                    <label asp-for="ResidentName" class="lable-control"></label>
                    <select class="form-select" asp-for="ResidentId" asp-items="@ViewBag.Residents" id="residentSearch">
                        <option value="">Seleccione un Residente</option>
                    </select>
                    <span asp-validation-for="ResidentId" class="text-danger"></span>
                </div>

                <div class="form-group mt-3">
                    <label asp-for="ServiceName" class="lable-control"></label>
                    <select class="form-select" asp-for="ServiceId" asp-items="@ViewBag.MunicipalServices" id="serviceSearch">
                        <option value="">Seleccione un Servicio</option>
                    </select>
                    <span asp-validation-for="ServiceId" class="text-danger"></span>
                </div>

                <div class="form-group mt-3">
                    <label asp-for="RequestDate" class="lable-control"></label>
                    <input asp-for="RequestDate" class="form-control" />
                    <span asp-validation-for="RequestDate" class="text-danger"></span>
                </div>

                <div class="form-group mt-3">
                    <label asp-for="Status" class="label-control"></label> <br />
                    <input type="radio" asp-for="Status" value="true" checked="checked" /> Completada<br />
                    <input type="radio" asp-for="Status" value="false" /> Pendiente
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>

                <div class="form-group mt-3">
                     <input type="submit" value="Guardar" class="btn btn-success" />

                     <a asp-action="Index" class="btn btn-primary">Volver al Listado</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $('#residentSearch').select2({
            language: "es",
            width: '100%',
            placeholder: "Seleccione un residente",
        });

        $('#serviceSearch').select2({
            language: "es",
            width: '100%',
            placeholder: "Seleccione un Servicio",
        });

    </script>
}
