@model MunicipalServiceModel
@{
    ViewData["Title"] = "Servicios Municipales";
}

<h1 class="text-center">Agregar Servicio</h1>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly"></div>
            <form asp-action="Create">
                <div class="form-group">
                    <label asp-for="ServiceName" class="lable-control"></label>
                    <input asp-for="ServiceName" class="form-control" />
                    <span asp-validation-for="ServiceName" class="text-danger"></span>
                </div>

                <div class="form-group mt-3">
                    <label asp-for="Description" class="lable-control"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="form-group mt-3">
                    <label asp-for="Cost" class="lable-control"></label>
                    <input asp-for="Cost" class="form-control" />
                    <span asp-validation-for="Cost" class="text-danger"></span>
                </div>

                <div class="form-group mt-3">
                    <input type="submit" value="Guardar" class="btn btn-success" />

                    <a asp-action="Index" class="btn btn-primary">Volver al Listado</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $('#positionSearch').select2({
            language: "es",
            width: '100%',
            placeholder: "Seleccione un Cargo",
        });
    </script>
}