@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center container">
    <h1 class="display-4">Tarea 2: Grupo 7</h1>
    <h3 class="text-secondary">Integrantes y Asignacion de Trabajo</h3>
    <ul class="list-unstyled text-start mx-auto mt-3 w-50">
        <li>Steven Schafick Molina Ventura (Tablas:  <b>Residents y MunicipalServices</b>)</li>
        <li>Kevin Antonio Montano Aquino (Tablas:  <b>Positions y Employees</b>)</li>
        <li>Wilber Salvador Sorto Sánchez (Tabla:  <b>ServiceRequests</b>)</li>
    </ul>

    <div class="w-50 mt-2 mx-auto">
        <h4>Ejercicio Desarrollado </h4>
        <p class="text-start">
            Un programa que permite gestionar una alcaldía cumplliendo con los siguientes parámetros:
        </p>
        <ul class="text-start mx-auto mt-3 ">
            <li>
                <span class="badge px-2 py-1 bg-secondary">
                    La base de datos deben contener como mínimo 4 tablas
                </span>
            </li>
            <li>
                <span class="badge px-2 py-1 bg-secondary">
                    Las tablas tienen que estar relacionadas
                </span>
            </li>
            <li>
                <span class="badge px-2 py-1 bg-secondary">
                    Cada tabla de contener como mínimo 4 campos incluyendo el id
                </span>
            </li>
            <li>
                <span class="badge px-2 py-1 bg-secondary">
                    Debe trabajar con al menos un campo tipo fecha y un campo booleano
                </span>
            </li>
        </ul>
        <p class="text-start">
            Cada tabla con su respectivo CRUD.
        </p>
    </div>
</div>
